.header {
    display: flex;
    width: 100%;
    align-items: center;
}

.logo {
    height: 20%;
}

ul {
    display: flex;
    margin-left: 50%;
}

li {
    list-style-type: none;
    margin: 5%;
    color: hsl(236, 13%, 42%);
}

li:hover {
    color: hsl(5, 85%, 63%)
}